* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    background-color: #fff;
}
button {
    border: none;
    outline: none;
    background: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.btn {
    color: #4B47FF;
    border: 2px solid #4B47FF;
    box-sizing: border-box;
    border-radius: 100px;
}
.btn-circle {
    width: 100px;
    height: 100px;
    background: url(../img/arrow_button.svg) no-repeat center;
}
h2 {
    font-weight: bold;
    font-size: 84px;
    color: #373946;
    margin: 0;
    padding: 0;
}
h4 {
    font-weight: bold;
    font-size: 24px;
    color: #373946;
    margin: 0;
    padding: 0;
}
.suptitle {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// Nav

.nav {
    position: absolute;
    width: 100%;
    margin-top: 50px;
    z-index: 1000;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 50px;
    }
    &__burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
            display: block;
            width: 46px;
            height: 3px;
            background-color: #373946;
            border-radius: 10px;
        }
    }
}

// Header

.header {
    display: flex;
    height: 100vh;
    &__offer-wrapper {
        width: 33%;
        position: relative;
    }

    &__links {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 50px 45px 0 0;
        width: fit-content;
        margin-left: auto;
    }
    &__link {
        margin-bottom: 18px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: #C6D0EA;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 1001;

            img {
                margin-left: 10px;
            }
        }
    }
    &__offer {
        margin: 0 54px;
    }
    &__offer-title {
        font-size: 84px;
        font-weight: bold;

        span {
            color: #4B47FF;
        }
    }
    &__offer-btn {
        padding: 20px 40px;
        font-weight: 500;
        font-size: 20px;
        display: flex;
        align-items: center;
        width: fit-content;

        img {
            margin-left: 15px;
        }
    }
    &__clickme-wrapper {
        position: relative;
        display: flex;
        width: fit-content;
        margin-left: auto;
        top: -60px;
        right: -28px;

        &::before {
            content: "";
            position: absolute;
            background-color: #fff;
            width: 50px;
            height: 100px;
            top: -22px;
            left: -22px;
        }
    }
    &__clickme-button {
        position: relative;
        background: #FF6645;
        box-shadow: 4px 4px 20px rgba(255, 69, 69, 0.4);
        padding: 16px;
        border-radius: 50%;
    }
    &__clickme-bg {
        position: absolute;
        top: -22px;
        right: -22px;
        z-index: -1;
        width: 100px;
        height: 100px;
        animation: rotate 10s linear infinite;
    }
    &__clickme-arrow {
        position: absolute;
        top: 30px;
        right: 90px;
    }
    &__media {
        z-index: -2;
        width: 67%;
        background: linear-gradient(122.05deg, #FFFDEA -18.77%, #FFEAEB 40.79%, #C2D0FF 135.33%);
        border-radius: 0 0 0 25px;
    }
}

// Statistics

.statistics {
    margin-top: 140px;
    margin-bottom: 115px;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        padding-right: 60px;
        margin-right: 100px;
        border-right: 1px solid #E6EAF3;
        &:last-child {
            border-right: none;
            padding-right: 0;
            margin-right: 0;
        }
    }
    &__title {
        color: #8589A3;
        font-size: 20px;
    }
    &__value {
        color: #373946;
        font-weight: bold;
        font-size: 36px;
    }
}

// Projects

.projects {
    margin-bottom: 150px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__card {
        flex-basis: 48%;
        border-radius: 30px;
        height: 620px;
        margin-bottom: 30px;
        padding: 50px 60px;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        h3 {
            color: #FFF;
            font-weight: bold;
            font-size: 54px;
            margin: 0;
            width: 355px;
        }
        svg {
            fill: #FFF;
            position: absolute;
            top: 40px;
            right: 40px;
        }
    }
    &__card_purple {
        background-color: #794AFF;
    }
    &__card_orange {
        background-color: #FF715E;
    }
    &__card_lavanda {
        background-color: #BC9CFF;
        
        h3 {
            color: #242629;
        }
        svg {
            fill: #242629;
        }
    }
    &__card_yellow {
        background-color: #FFF3B1;

        h3 {
            color: #FF543D;
        }
        svg {
            fill: #FF543D;
        }
    }
    &__card_black {
        background-color: #242629;
    }
    &__card_cyan {
        background-color: #2BD6E1;
    }
    &__card_pink {
        background-color: #F16FA5;
    }
    &__card_white {
        background-color: #fff;
        h3 {
            color: #4B47FF;
            margin-top: 50px;
        }
    }

    &-links {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;

        &__col {
            display: flex;
            flex-direction: column;
        }
        &__more {
            margin-top: auto;
        }
        &__category {
            display: grid; 
            grid-template-columns: auto auto; 
            grid-template-rows: auto auto auto; 

            a {
                text-align: right;
                color: #C1C3CF;
                font-weight: 500;
                font-size: 16px;
            }
            span {
                text-align: left;
                font-weight: bold;
                font-size: 16px;
                color: #626577;
                margin-left: 20px;
                margin-bottom: 25px;
            }
        }
    }
}

// Specialization

.specialization {
    &__wrapper {
        padding: 180px 150px 170px 200px;
        border-top: 1px solid #E6EAF3;
        border-bottom: 1px solid #E6EAF3;
    }
    &__heading {
        display: flex;
        align-items: center;
        margin-bottom: 100px;

        .btn {
            margin-left: 65px;
        }
    }
    &__suptitle {
        color: #4B47FF;
    }
    &__content {
        display: flex;
        align-items: top;
        justify-content: space-between;
    }
    &__content-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h4 {
            margin-top: 65px;
            margin-bottom: 20px;
        }
    }
    &__content-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 230px;
    }
    &__category {
        font-weight: 500;
        font-size: 16px;
        color: #626477;
        background: #F2F8FB;
        border-radius: 100px;
        padding: 7px 15px;
        margin: 0 15px 10px 0;
    }
}