* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    background-color: #fff;
}
.container-fluid_small {
    max-width: 75%;
}
button {
    border: none;
    outline: none;
    background: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.btn {
    color: #4B47FF;
    border: 2px solid #4B47FF;
    box-sizing: border-box;
    border-radius: 100px;
    margin: 0;
    padding: 0;
}
.btn-circle {
    width: 100px;
    height: 100px;
    background: url(../img/arrow_button.svg) no-repeat center;
    background-color: #fff;
}
.text {
    font-weight: normal;
    font-size: 18px;
    color: #5C5F75;
}
h2 {
    font-weight: bold;
    font-size: 84px;
    color: #373946;
}
h4 {
    font-weight: bold;
    font-size: 24px;
    color: #373946;
    margin: 0;
    padding: 0;
}
.suptitle {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}
.subtitle {
    color: #5C5F75;
    font-size: 24px;
}
.info-value {
    color: #373946;
    font-weight: bold;
    font-size: 36px;
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// Nav

.nav {
    position: absolute;
    width: 100%;
    margin-top: 50px;
    z-index: 1000;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 50px;
    }
    &__burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
            display: block;
            width: 46px;
            height: 3px;
            background-color: #373946;
            border-radius: 10px;
        }
    }
}

// Header

.header {
    display: flex;
    height: 100vh;
    &__offer-wrapper {
        width: 33%;
        position: relative;
    }

    &__links {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 50px 45px 0 0;
        width: fit-content;
        margin-left: auto;
    }
    &__link {
        margin-bottom: 18px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: #C6D0EA;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 1001;

            img {
                margin-left: 10px;
            }
        }
    }
    &__offer {
        margin: 0 54px;
    }
    &__offer-title {
        font-size: 84px;
        font-weight: bold;
        margin: 130px 0 70px;

        span {
            color: #4B47FF;
        }
    }
    &__offer-btn {
        padding: 20px 40px;
        font-weight: 500;
        font-size: 20px;
        display: flex;
        align-items: center;
        width: fit-content;

        img {
            margin-left: 15px;
        }
    }
    &__clickme-wrapper {
        position: relative;
        display: flex;
        width: fit-content;
        margin-left: auto;
        top: -60px;
        right: -28px;

        &::before {
            content: "";
            position: absolute;
            background-color: #fff;
            width: 50px;
            height: 100px;
            top: -22px;
            left: -22px;
        }
    }
    &__clickme-button {
        position: relative;
        background: #FF6645;
        box-shadow: 4px 4px 20px rgba(255, 69, 69, 0.4);
        padding: 13px 16px 16px;
        border-radius: 50%;
    }
    &__clickme-bg {
        position: absolute;
        top: -22px;
        right: -22px;
        z-index: -1;
        width: 100px;
        height: 100px;
        animation: rotate 10s linear infinite;
    }
    &__clickme-arrow {
        position: absolute;
        top: 30px;
        right: 90px;
    }
    &__media {
        z-index: -2;
        width: 67%;
        background: linear-gradient(122.05deg, #FFFDEA -18.77%, #FFEAEB 40.79%, #C2D0FF 135.33%);
        border-radius: 0 0 0 25px;
    }
}

// Statistics

.statistics {
    margin-top: 140px;
    margin-bottom: 115px;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        padding-right: 60px;
        margin-right: 100px;
        border-right: 1px solid #E6EAF3;
        &:last-child {
            border-right: none;
            padding-right: 0;
            margin-right: 0;
        }
    }
    &__title {
        color: #8589A3;
        font-size: 20px;
    }
}

// Projects

.projects {
    margin-bottom: 150px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__card {
        flex-basis: 48%;
        border-radius: 30px;
        height: 620px;
        margin-bottom: 30px;
        padding: 50px 60px;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        h3 {
            color: #FFF;
            font-weight: bold;
            font-size: 54px;
            margin: 0;
            width: 355px;
        }
        svg {
            fill: #FFF;
            position: absolute;
            top: 40px;
            right: 40px;
        }
    }
    &__card_purple {
        background-color: #794AFF;
    }
    &__card_orange {
        background-color: #FF715E;
    }
    &__card_lavanda {
        background-color: #BC9CFF;
        
        h3 {
            color: #242629;
        }
        svg {
            fill: #242629;
        }
    }
    &__card_yellow {
        background-color: #FFF3B1;

        h3 {
            color: #FF543D;
        }
        svg {
            fill: #FF543D;
        }
    }
    &__card_black {
        background-color: #242629;
    }
    &__card_cyan {
        background-color: #2BD6E1;
    }
    &__card_pink {
        background-color: #F16FA5;
    }
    &__card_white {
        background-color: #fff;
        h3 {
            color: #4B47FF;
            margin-top: 50px;
        }
    }

    &-links {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;

        &__col {
            display: flex;
            flex-direction: column;
        }
        &__more {
            margin-top: auto;
        }
        &__category {
            display: grid; 
            grid-template-columns: auto auto; 
            grid-template-rows: auto auto auto; 

            a {
                text-align: right;
                color: #C1C3CF;
                font-weight: 500;
                font-size: 16px;
                width: fit-content;
                height: fit-content;
                margin-left: auto;
            }
            span {
                text-align: left;
                font-weight: bold;
                font-size: 16px;
                color: #626577;
                margin-left: 20px;
                margin-bottom: 25px;
            }
        }
    }
}

// Specialization | What we do?

.specialization {
    &__wrapper {
        padding: 180px 150px 170px 200px;
        border-top: 1px solid #E6EAF3;
        border-bottom: 1px solid #E6EAF3;
    }
    &__heading {
        display: flex;
        align-items: center;
        margin-bottom: 100px;

        h2 {
            margin: 0;
        }

        .btn {
            margin-left: 65px;
        }
    }
    &__suptitle {
        color: #4B47FF;
    }
    &__content {
        display: flex;
        align-items: top;
        justify-content: space-between;
    }
    &__content-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h4 {
            margin: 0;
            margin-top: 65px;
            margin-bottom: 20px;
        }
    }
    &__content-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 230px;
    }
    &__category {
        font-weight: 500;
        font-size: 16px;
        color: #626477;
        background: #F2F8FB;
        border-radius: 100px;
        padding: 7px 15px;
        margin: 0 15px 10px 0;
    }
}

// About us

.about {
    margin: 180px 0 150px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items : center;
    }
    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin-bottom: 20px;

        h2 {
            margin: 0;
        }
    }
    &__suptitle {
        color: #FF543D;
    }
    &__text {
        max-width: 880px;
        text-align: center;
        margin-bottom: 65px;
    }
    &__info-wrapper {
        background: linear-gradient(131.62deg, #FFFDF5 4.88%, #FFF5F5 85.46%);
        border-radius: 30px;
        padding: 50px 45px;
        position: relative;
        width: 100%;

        img {
            position: absolute;
            top: calc(50% - 160px);
            right: calc(50% - 150px);
            width: 300px;
            height: 300px;
            animation: 10s rotate linear infinite;
        }
    }
    &__info {
        display: flex;
        flex-wrap: wrap;
    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
        padding: 15px 10px 50px;

        &:first-child {
            border: 1px solid #F4E2E2;
            border-top: 0;
            border-left: 0;
        }
        &:nth-child(2) {
            border-bottom: 1px solid #F4E2E2;
        }
        &:nth-child(3) {
            border-right: 1px solid #F4E2E2;
            padding: 70px 10px 15px;
        }
        &:last-child {
            padding: 70px 10px 15px;
        }
    }
    &__info-title {
        color: #5C5F75;
        font-size: 24px;
    }
    &__info-btn {
        border-color: #FF543D;
        background-color: #FFF;
        background-image: url(../img/arrow_button-orange.svg);
        position: absolute;
        top: calc(50% - 60px);
        right: calc(50% - 50px);
        z-index: 50;
    }
}

// Team |Our team

.team {
    margin-bottom: 130px;
    position: relative;
    padding: 70px 0;

    &:before {
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(131.62deg, #F2F9FF 4.88%, #F6F5FF 85.46%);
        border-radius: 30px 0 0 30px;
        z-index: -1;
    }

    &__heading {
        display: flex;
        align-items: flex-start;

        h2 {
            margin: 0;
        }
    }
    .team-counter {
        color: #4B47FF;
        font-weight: bold;
        position: relative;
        top: -12px;

        &__value {
            font-size: 36px;
        }
        &:last-child {
            font-size: 14px;
        }
    }
}

.team-slider {
    padding-top: 80px;
    &__card {
        display: flex;
        flex-direction: column;
        margin-right: 30px;

        img {
            width: 280px;
            height: 300px;
            border-radius: 20px;
            margin-bottom: 30px;
        }
    }
    &__card-name {
        font-size: 20px;
        font-weight: 500;
        color: #373946;
        margin: 0 0 5px 10px;
    }
    &__card-profession {
        font-size: 16px;
        color: #A4A7BB;
        margin-left: 10px;
    }
}

// Feedback

.feedback {
    margin-bottom: 150px;
    
    &__card {
        background: linear-gradient(116.65deg, #FFFBF2 -27.08%, #F6F5FF 102.22%);
        border-radius: 30px;
        padding: 40px 30px 30px;
        display: flex;
        flex-direction: column;
    }
    &__card-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 57px;
    }
    &__card-user {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }
    &__user-photo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    &__user-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
    }
    &__user-name {
        color: #5C5F75;
        font-size: 28px;
        font-weight: bold;
    }
    &__user-subinfo {
        color: #BABDD6;
        font-size: 18px;
    }
    &__user-link {
        text-decoration-line: underline;
        color: #6697D0;
        font-size: 16px;
    }
    &__card-text {
        padding: 53px 45px 30px 53px;
        background: #FFFFFF;
        border-radius: 30px;
        position: relative;

        &:after {
            content: "";
            width: 41px;
            height: 30px;
            background-image: url(../img/feedback-quotes.svg);
            position: absolute;
            top: -16px;
            left: 53px
        }

        p {
            color: #5C5F75;
            font-size: 18px;
        }
    }
    &__heading {
        display: flex;
        flex-direction: column;
        margin: 40px 0 0 100px;
        
        h2 {
            max-width: 450px;
            margin-bottom: 40px;
        }
    }
    &__subtitle {
        margin-bottom: 50px;
    }
    &__buttons {
        display: flex;
        align-items: center;
    }
    &__btn-subscr {
        color: #4B47FF;
        font-size: 20px;
        font-weight: 500;
        margin-left: 80px;
        display: block;
    }
}

.feedback-slider {
    &__arrow  {
        background-image: url(../img/arrow_feedback-button.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        border: 2px solid #CDD0E7;
        box-sizing: border-box;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        transform: none;
        opacity: 1;
        position: absolute;
        display: inline-flex;
        top: 65px;
        right: 50px;
        left: auto;

        &:first-child {
            transform: rotate(180deg);
            right: 130px;
        }
    }
}